.country-details {
  padding-inline: 40px;
}
.shimmer-img {
  background-color: #ccc;
  height: 500px;
  width: 40%;
}

.shimmer-content {
  background-color: #ccc;
  padding-inline: 20px;
}

.shimmer-name {
  background-color: #999;
  height: 40px;
  width: 240px;
}

.details-text {
  /* background-color: #666; */
  height: 200px;
  display: flex;
  gap: 20px;
}

.shimmer-left-container,
.shimmer-right-container {
  background-color: #999;
  height: 100%;
  flex: 1;
}

.radius {
  border-radius: 8px;
}
